/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap'); */


@font-face {
  font-family: "Noto Sans";
  src: 
    url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Lobster";
  src:
    url("../fonts/Lobster-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

